[Unit]
Description=Setup fake keyboard

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/root/linux-gadget-hid-main/create-hid-keyboard.py

[Install]
WantedBy=multi-user.target

